version: '3.8'

services:
  backend:
    build: ./backend
    container_name: skin-analysis-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app/app
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: skin-analysis-frontend
    ports:
      - "8501:8501"
    volumes:
      - ./frontend:/app
    depends_on:
      - backend
    restart: unless-stopped